* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    color: cyan;
    background-image: url('img/minion.webp');
    background-size: 10%;
    background-repeat: repeat repeat;
    font-family:cursive;
    font-size:xx-large;
}

h1 {
    padding:10px;
}

p {
    font-size: larger;
    font-style: italic;
}

a {
    background-color: yellow
}