* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo-primario: hsl(225, 10%, 44%);
    --color-fondo-secundario: hsl(40, 25%, 80%);
    --color-borde: hsl(223, 15%, 31%);

    --color-texto-primario: hsl(223, 18%, 22%);
    --color-texto-secundario: hsl(225, 11%, 40%);
}


body {
    font-family: 'Montserrat', system-ui, sans-serif;
    /* El flex aquí es para header - main - footer */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fondo-primario);
    /* Para que el main ocupe todo el body libre */
    flex: 1;
}

.app-canvas {
    width: 50%;
    background-color: black;
}

#header {
    text-align: center;
    background-color: var(--color-fondo-secundario);
    padding: 1.5vh;
    border-bottom: 2px solid var(--color-borde);
}

#footer {
    text-align: center;
    padding: 1vh;
    border-top: 2px solid var(--color-borde);
    background-color: var(--color-fondo-secundario);
    color: var(--color-texto-secundario);
    font-size: 0.8rem;
}