/**********************************************************************/
/*  PROYECTO mecanografía      */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo-primario: hsl(225, 10%, 44%);
    --color-fondo-secundario: hsl(40, 25%, 80%);
    --color-borde: hsl(223, 15%, 31%);

    --color-texto-primario: hsl(223, 18%, 22%);
    --color-texto-secundario: hsl(225, 11%, 40%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    /*Para que el body ocupe toda la pantalla*/
    min-height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background-color: var(--color-fondo-primario);

    /* Para que el main ocupe todo el body libre */
    flex: 1;
}

#header {
    text-align: center;
    background-color: var(--color-fondo-secundario);
    
    padding: 1.5vh;
    border-bottom: 2px solid var(--color-borde);
}

#control-container {
    padding: 2em;
    gap: 5em;
}

#time-container, #points-container {
    display: flex;
    flex-direction: column;

    height: 4em;
    width: 2em;
}

#tiempo, #puntos {
    font-size: 25px;
}

.icon {
    width: 100%;
}

#word-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 0.2em;
    font-size: 40px;
}

#test-container {
    display: flex;
    gap: 10px;
    font-size: 50px;
}

#text-input {
    height: 3;
    width: 20em;
    font-size: 20px;
}

#start {
    font-size: 20px;
}

#footer {
    text-align: center;
    padding: 1.5vh;
    background-color: var(--color-fondo-secundario);
    border-top: 2px solid var(--color-borde);
}