* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-fondo-primario: hsl(225, 10%, 44%);
    --color-fondo-secundario: hsl(40, 25%, 80%);
    --color-borde: hsl(223, 15%, 31%);

    --color-texto-primario: hsl(223, 18%, 22%);
    --color-texto-secundario: hsl(225, 11%, 40%);
}

body {
    font-family: 'Montserrat', system-ui, sans-serif;
    /* El flex aquí es para header - main - footer */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#main {
    /* ¿Seguro que hace falta el flex aquí? */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-fondo-primario);
    /* Para que el main ocupe todo el body libre */
    flex: 1;
}

/* Concerniente al mapa */
#map-container {
    height: 80vh;

    position: relative;
    border: 2px solid var(--color-fondo-secundario);
}

#map {
    height: 100%;
}

/* Concerniente a los marcadores */
.marker {
    width: 4%;
}

.marker_img {
    width: 100%;
    transform: translate(-50%, -100%);
}

/* Concerniente a las leyendas */
#info-container {
    width: 25%;
    background-color: var(--color-fondo-secundario);
    border: 2px solid var(--color-borde);
}

#info-container #name {
    border-bottom: 2px solid var(--color-borde);
    padding: 5%;
}

#info-container #description {
    padding: 5%;
}

/* Concerniente al menú */
#menu-button {
    z-index: 10;
    position: absolute;
    top: 0;
    left: -2vw;
}

#menu-button img {
    width: 1.5vw;
    height: 1.5vw;
}

#map-menu {
    display: flex;
    flex-direction: column;
    align-items: center;    

    height: 100%;
    width: 20%;
    padding: 1.5rem;

    position:absolute;
    left: -500%;
    
    background-color: var(--color-fondo-secundario);
}

#map-menu label {
    width: 100%;
    font-weight: 600;
    margin-top: 1rem;
    color: var(--color-texto-primario);
}

#map-menu input, textarea {
    width: 100%;
    padding: 0.5rem 0.8rem;

    background: rgba(255,255,255,0.15);
    border: 1px solid var(--color-borde);
    border-radius: 6px;

    color: var(--color-texto-primario);
    font-size: 1rem;

    transition: 0.2s;
}

#map-menu button {
    width: 100%;
    padding: 0.7rem 1rem;
    margin: 1rem;

    background: var(--color-fondo-primario);
    color: hsl(255, 100%, 100%);
    font-size: 1rem;
    font-weight: 600;

    transition: 0.2s;
}

#message {
    width: 100%;
    margin-top: 0.5rem;

    text-align: center;
    font-size: 0.9rem;
    color: var(--color-texto-primario);

    padding: 0.3rem 0.6rem;
    background: rgba(255,255,255,0.12);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 6px;

    line-height: 1.3;
    display:none;
}


#footer {
    text-align: center;
    padding: 15px 30px;
    border-top: 2px solid var(--color-borde);
    background-color: var(--color-fondo-secundario);
    color: var(--color-texto-secundario);
    font-size: 0.8rem;
}

#header {
    text-align: center;
    background-color: var(--color-fondo-secundario);
    padding: 1.5vh;
    border-bottom: 2px solid var(--color-borde);
}

