* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: large;
    text-align: center;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top, rgb(175,255,228), rgb(186,255,189));
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    flex: 1;
}

#map-container {
    margin-top: 3%;
    margin-bottom: 3%;
    position: relative;
    border: 2px solid rgb(0, 75, 6);
}

#map {
    display: block;
    width: 80vw;
}

#map-menu {
    width: 100%;
    position:absolute;
    left: -10000px;
    height: 100px;
    background-color: rgba(96, 131, 112, 0.863);
    border-bottom: 2px solid rgb(0, 75, 6);
}

.marker {
    width: 2.5vw;
    transform: translate(-50%, -100%);
}

#menu-button {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
}

#menu-button img {
    width: 1vw;
}

#info-container {
    width: 25%;
    background-color: rgb(186,255,189);
    border: 2px solid rgb(0, 75, 6);
}

#info-container #name {
    border-bottom: 2px solid rgb(0, 75, 6);
    padding: 5%;
    padding-bottom: 2%;
}

#info-container #description {
    padding: 5%;
    padding-top: 2%;
}


#header {
    display: flex;
    flex-direction: column;

    background-color: rgb(186, 255, 189);
    padding: 15px 30px;
    border-bottom: 2px solid rgb(0, 75, 6);
}

#footer {
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    border-top: 2px solid rgb(0, 75, 6);
}